[submodule "www/Plugin/Users"]
	path = www/Plugin/Users
url=git@192.30.252.128:CakeDC/users.git
[submodule "www/Plugin/Migrations"]
	path = www/Plugin/Migrations
url=git@192.30.252.128:CakeDC/migrations.git
