bower_components
bower_components/*
node_modules
node_modules/*
www/tmp
www/Config/database.php
www/Config/database.php.default
www/Config/core.php
www/tmp/*
www/webroot/files/media/*
/tmp/*
.vagrant/*